.bg-help
{
    background-image: url('../../Assets/Images/bg1.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-overlay11 {
    background-color: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.bg-gradient {
    background-image: linear-gradient(180deg, #ffffff26, #fff0) !important;
}
.bg-dark {
    --bs-bg-opacity: 1;
    --bs-dark-rgb: 3, 45, 70;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.help-title h5 {
    font-size: 25px;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
}
.help-title .fs-14 {
        color: #FFFFFF80;
        margin-bottom: 16px;
        position: relative;
        z-index: 10;
}
.rounded-end {
    border-radius: 0 4px 4px 0;

}
.rounded-start {
    border-radius: 4px 0 0 4px;
}
.mt-n4 {
    margin-top: -1.5rem !important;
}

.mx-n4 {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}
.card-h-100 {
    height: calc(100% - 20px);
    border: 1px solid #eff0f2!important; 
}
.card-header {
    padding: 16px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e2e5e8;

}
.accordion-menu .ant-collapse {
    border: none;
    background-color: #fff;
}
.accordion-menu .ant-collapse-header {
    /* border-bottom: 1px solid #eff0f2; */
    border: none;
    border-radius: 0;
}
.ant-collapse-item:last-child>.ant-collapse-header {
    border-radius: 0 !important;
}
 .accordion-menu .ant-collapse-item {
    border-bottom: 1px solid #eff0f2;
}
.ant-collapse-header-text {
    color: #495057;
}
.anticon-right {
    position: absolute;
    right: 15px;
}
.ant-collapse-item-active .ant-collapse-header {
    background-color: #cde8f8;
}
.ant-collapse-content-box p {
    color: #495057bf!important;
}